body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    flex-direction: column; /* Ensures vertical stacking */
}

.calendar {
    width: 80%;
    max-width: 1000px;
    text-align: center;
}

.page-title {
    font-size: 36px; /* Bigger font size for the title */
    font-weight: bold;
    margin-bottom: 10px;
}

/* Month navigation section with previous and next buttons on the same line */
.month-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#monthYear {
    font-size: 24px; /* Increased size of the month text */
    font-weight: bold;
}

#calendarGrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.day {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    position: relative;
}

/* Styling for the upcoming discount days */
.upcoming {
    background-color: #ffecb3;
    color: #555;
}

/* Styling for the active discount days */
.activeDiscount {
    background-color: #c8e6c9;
    color: #000;
}

/* Dimming only the past days */
.pastDay {
    opacity: 0.4;
}

button {
    margin: 10px;
    padding: 10px;
    background-color: #0288d1;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0277bd;
}
